<mat-card class="login-card">
<mat-card-content>
  <form #loginForm="ngForm" (keyup.enter)="login()">
    <img class="profile-img-card" src="./assets/images/logo_square.png" alt="" />
    <h1>Anmelden</h1>
    <mat-form-field>
      <input matInput placeholder="E-Mail" id="mail" name="mail" [(ngModel)]="user.email"
             autocomplete="username" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput [type]="hide() ? 'password' : 'text'" placeholder="Passwort" id="password" name="password"
             autocomplete="current-password" [(ngModel)]="user.password" required>
      <button
        mat-icon-button
        matSuffix
        (click)="clickEvent($event)"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide()">
        <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
    <div style="padding-bottom: 1em">
      <button mat-flat-button type="submit" id="btn_login" color="primary" class="stretch"
              (click)="login()">Anmelden
      </button>
    </div>
  </form>
</mat-card-content>
<div>
  <button mat-flat-button class="stretch" routerLink="/password-reset">Passwort vergessen?</button>
</div>
<div class="login-card">
  <div class="divider-break"><h5 aria-level="5">Neu bei uns?</h5></div>
  <button mat-flat-button class="stretch" routerLink="/register">Benutzerkonto erstellen</button>
</div>
</mat-card>
